<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= typeof nomDePage !== 'undefined' ? nomDePage : 'Titre par défaut' %>
    </title>
  </head>
  <body>
    <header>
      <h1>
        <%= typeof titreH1 !== 'undefined' ? titreH1 : 'Titre par défaut' %>
      </h1>
      <p>Lorem ipsum dolor sit amet.</p>
    </header>
  </body>
</html>
